*{
    margin:0;
    padding:0;
}
.container{
    width: 200px;
    height:50px;
    border:2px solid red;
    display:flex;
    justify-content: center;
    align-items: center;
}
.container__nav{
    color:black;
    transition:.5s;
}
.container__nav:hover{
    color:orange;
    transition:.5s;
}
.container__navSub li{
    border:2px solid green;
    display:none;
}
.container__navSub li:hover{
    border:2px solid green;
    display:inline-block;
}
