.calculadora{
    width: 30vw;
    height: 60vh;
    margin:auto;
    display:grid;
    grid-template-columns: repeat(autofill,minmax(30vh,1fr));
    grid-auto-rows: 75px;
    border: 2px solid red;
}
.calculadora__display{
    border: 2px solid green;
    grid-column: 1/3;
    grid-row:1/1;
}
.calculadora__cuerpo img,h3{
    padding:5px;
    width: 30px;
    margin:10px;
    background-color:rgb(236, 185, 91);
    /* border: 5px solid yellow; */
}
.calculadora__cuerpo-num{
    border: 5px solid yellow;
    grid-column: 1/3;
    grid-row: 2/2;
}