*{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
}

.gridContainer{
    margin:0;
    padding:0;
    display:grid;
    grid-template-rows: 50px;
    grid-template-columns: repeat(4,minmax(min-content,max-content));
    grid-auto-rows: 50px;
    background-color:black;
    height:100vh;
    justify-content: center;
}
.gridContainer__gridItem{
    box-shadow: 3px 3px 3px rgb(94, 94, 235);
    font-size: 20px;
    color:rgb(220, 218, 218);
    /* border: 2px solid blue; */
    padding: 5px;
    margin: 10px;
    background-color: rgb(94, 94, 235);
}