<nav id="nav">
    <p class="nav__logo"><a href="/"><b>C</b>ARNICER|<b>S</b>OUBLÉ <b>ARQ</b>UITECTOS</p></a>
    <div class="nav__menuLogo"><i class="fa-solid fa-bars fa-3x"></i></div>
    <ul class="nav__menu">
        <li class="salirMenu">LOGO SALIDA</li>
        <li>OBRAS PUBLICAS</li>
        <li>CASAS</li>
        <li>EDIFICOS</li>
        <li>REMODELACIONES</li>
        <li>SOBRE NOSOTROS</li>
    </ul>
</nav>


            