*{
    margin:0;
    padding:0;
}
/*n b*/
.tareas h2{
    color:rgb(243, 150, 165);
    font-size:80px;
}
.tareas{
    background-color:#FFEDAD ;
    position:relative;
    text-align:center;
    margin:auto auto;
    width:100%;
    margin-right:0;
}

/* SIDE MENU */
.tareas__nav{
    display:flex;
    position:fixed;
    width:20vw;
    height: 100vh;
    margin-top:0;
    margin-left:-19.5vw;
    top:0;
    justify-content:flex-start;
    flex-direction: column;
    font-size:20px;
    background-color:#FFEDAD;
    transition:.5s;
    border-right: 2px solid rgb(175, 110, 121); 
    z-index:500;
}
.tareas__nav:hover{
    margin-left:0;
    transition:.5s;
}
.tareas__nav h3{    
    margin:10px;
    padding:5px;
    background-color:rgb(245, 183, 194);
    font-size: 25px;
    border: 2px solid rgb(175, 110, 121);
    box-sizing:content-box;
    font-family: Grape Nuts;
    color:rgb(192, 124, 135);
}

.tareas__navInput{
    color:rgb(192, 124, 135);
    background-color:rgb(245, 183, 194);
    width: 80%;
    height:30px;
    border-bottom: 2px solid rgb(175, 110, 121);
}
/* INPUT DE LAS LISTAS */
.tareas__listaAdd{
    margin:5px;
    padding:3px;
    text-align:center;
}
.tareas__listaAdd:focus{
    outline:none;
    color:grey;
}

/* LISTA */

.tareas__lista{
    margin-top:20px;
    font-size:22px;
    list-style: none;
    position:relative;
    background-color:#A7D3F3;
    border-top:3px solid #6495ED;
    font-family: Oswald;
    color:grey;
    height:100vh;
}

/* ICONO DE LAS LISTAS */

.fa-square,.fa-check-square{
    margin:10px;
}

.tareas__lista li, input{
    position:relative;
    box-sizing: content-box;
    text-align: center;
    margin:auto;
    background-color:#9fb8d5;
    margin-top:10px;
    margin-bottom:7px;
    border:none;
    border-bottom:2px solid #6495ED;
}
.tarea{
    max-width:7em;  
    text-align: center;
    z-index: 200;
}


/* ------- ANIMACION DE FLECHA ----- */

.animatedColor {
    color: black;
}
.flecha {
    width:50px;
    height: 25px;
    animation: arrow 1s ease-in-out infinite;
    font-size:30px;
    position:absolute;
    left:0;
    top:0;
    margin-top:30px;
    margin-left:7px;
    z-index:10;
}
@keyframes arrow {
    0% {
    transform: translate(15px, 0px);
    }
    50% {
    transform: translate(25px, 0px);
    }
    100% {
    transform: translate(15px, 0px);
    }
}